name: CI

env:
  CI: true
  MAINNET_RPC_URL: ${{ secrets.MAINNET_RPC_URL }}
  GNOSIS_RPC_URL: ${{ secrets.GNOSIS_RPC_URL }}
  SEPOLIA_RPC_URL: ${{ secrets.SEPOLIA_RPC_URL }}

on:
  push:
    branches:
      - main
  pull_request:
    branches: ['*', '**/*']

jobs:
  test-forge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Test
        run: yarn test:forge