name: CI

env:
  CI: true
  MAINNET_RPC_URL: ${{ secrets.MAINNET_RPC_URL }}
  GNOSIS_RPC_URL: ${{ secrets.GNOSIS_RPC_URL }}
  SEPOLIA_RPC_URL: ${{ secrets.SEPOLIA_RPC_URL }}
  SONIC_RPC_URL: ${{ secrets.SONIC_RPC_URL }}
  BASE_RPC_URL: ${{ secrets.BASE_RPC_URL }}
  ARBITRUM_RPC_URL: ${{ secrets.ARBITRUM_RPC_URL }}
  AVALANCHE_RPC_URL: ${{ secrets.AVALANCHE_RPC_URL }}
  OPTIMISM_RPC_URL: ${{ secrets.OPTIMISM_RPC_URL }}
  HYPEREVM_RPC_URL: ${{ secrets.HYPEREVM_RPC_URL }}
  PLASMA_RPC_URL: ${{ secrets.PLASMA_RPC_URL }}
  XLAYER_RPC_URL: ${{ secrets.XLAYER_RPC_URL }}

on:
  push:
    branches:
      - main
  pull_request:
    branches: ['*', '**/*']

jobs:
  test-forge:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        network: [arbitrum, avalanche, base, gnosis, mainnet, optimism, sepolia, sonic, hyperevm, plasma, xlayer]
    steps:
      - uses: actions/checkout@v4
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Test
        run: yarn test:forge --match-path "test/${{ matrix.network }}/*"
